{% extends "base.html.twig" %}
{% trans_default_domain "BlogTrans" %}

{% block body %}
    <div class="container">
        <a href="{{ path('admin_chapter_new') }}">
            <button class="btn btn-success float-end ">{{ "global.text.button.add"| trans }}</button>
        </a>
        {{ include('admin/layout/_datatable_template.html.twig') }}
    </div>
{% endblock %}
