<!-- Navigation -->
<nav class="navbar navbar-expand-lg w-100 fixed-top d-flex justify-content-around">
    <div class="title">
    <a class="navbar-brand text-white" href="/">Billet simple pour l'Alaska</a>
    </div>
    <div class="menu">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('home') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    {% if is_granted("ROLE_USER") %}
                        <a href="{{ path('app_logout') }}" class="btn btn-danger">Déconnection</a>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter</a>
                        <a href="{{ path('app_register') }}" class="btn btn-primary">S'inscrire</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Header -->
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Billet simple pour l'Alaska</h1>
                    <h3><span class="subheading">Laissez moi vous raconter...</span></h3>
                </div>
            </div>
        </div>
    </div>
</header>
